<h1>Compose#index</h1>
 
 <hr class="custom_hr">


<div class="inbox index">
 	<table class="table ">
		<thead>
			<tr>
				<th >Name</th>
				<th>From</th>
				<th>To</th>
				 
			</tr>
		</thead>
		<tbody>
		<% @user.each do |i| %>
			 <tr> 
				<td style="width:150px;"><%= i.email%></td>
				 			 
			</tr>
		<%end%>
		</tbody>
	</table>
</div>  

 